$headerFirstColor: #8BC6EC;
$headerSecondColor: #9599E2;
*{
  padding: 0;
  margin: 0;
}

.header {
  background: linear-gradient(135deg, $headerFirstColor, $headerSecondColor);
  padding: 3%;
  .brand-name{
    display: inline-block;
    vertical-align: middle;
  }
  .quote-carousel{
    display: inline-block;
  }
}
.card{
  margin: 3%;
}
.footer{
  padding: 3%;
  background-color: #3A3838;
  color: white;
  li {
    list-style-type: none;
    text-align: center;
  }
  .copyright{
    text-align: center;
    margin: auto;
  }
}
